:root {
    --green-color: #11770E;
    --LIGHT-GREEN: #7CE200;
    --yellow: #FFF314;
    --text-color: #4C4C4C;
    --background: #eee;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}

/* header properties */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    box-shadow: 0 8px 11px rgb(15 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

section {
    padding: 4.5rem 0 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

#login_btn {
    /* login button */
    background: var(--green-color);
    color: var(--background);
    border-radius: 5rem;
    padding: 0.5rem 1rem;
}

.profile .cart_account a {
    color: var(--green-color);
    padding: 0.5rem;
}

.profile a i {
    font-size: 20px;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile span {
    font-size: 13px;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo span {
    font-size: 24px;
    color: var(--green-color)
}

nav a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

nav a:hover {
    background: var(--green-color);
    transition: var(--background) 0.5s;
    border-radius: 5rem;
    color: var(--background);
    font-size: 1.1rem;
}

#menuicon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/* footer properties */
.footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    background-color: #4c4c4c;
    padding: 0 30px 0 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    /* Distribute columns evenly */
}

.footer-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 150px;
    margin: 40px;

}

.footer-box p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    padding: 10px;
    background: var(--background);
    color: var(--green-color);
    border-radius: 5rem;
    font-size: 20px;
}

.social .bx:hover {
    background: var(--green-color);
    color: var(--background);
    transition: 0.2s all linear;
}

.footer-box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: black;
}

.footer-box a {
    color: black;
    margin-bottom: 1rem;
}

.footer-box p {
    color: black;
}

.footer-box a:hover {
    color: black;

}

.footer-box form {
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.footer-box form input {
    background: transparent;
    border: none;
    outline: none;
}

.footer-box form .bx {
    font-size: 20px;
    color: black;
    cursor: pointer;
}