:root {
    --green-color: #11770E;
    --LIGHT-GREEN: #7CE200;
    --yellow: #FFF314;
    --text-color: black;
    --emphasis-text-color: #4C4C4C;
    --background: #eee;
}

/* img {
    width: 100%;
} */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    color: var(--text-color);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
}

.product_image {
    flex: 1;
    margin-right: 20px;
}

.product_image img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-right: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.product_details {
    flex: 2;
}

.product_details p {
    font-size: 0.7em;
    margin: 0 0 5px 0;
}

.product_details h2 {
    font-size: 1.8em;
    margin: 0 0 20px 0;
}

/* .product_details p,
.product_details h2 {
    margin: 0 0 5px 0;
} */

.comparison_table {
    /* width: 100%; */
    border-collapse: collapse;
}

.comparison_table td {
    border: 1px solid black;
    padding: 0 5px;
}

.add_to_cart_btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.frequentcard {
    display: inline-block;
    width: 170px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
}

.frequentcard img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.frequentcard h2 {
    font-size: 1.2em;
    margin: 0;
    text-align: left;
}

.frequentcard .product_details {
    margin-top: 0.1em;
}

.frequentcard .product_details p {
    font-size: 1em;
    margin: 0;
    color: darkslategray;
    text-align: left;
}

.frequentcard a {
    text-decoration: none;
    color: black;
}